body {
    width: 90vmin;
    height: 100vmin;
    margin-left: auto;
    margin-right: auto;
    background-color: yellowgreen;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 200%;
}

input {
    transform: scale(2.0);
}

label {
    font-size: 150%;
}

button {
    font-size: 150%;
}

.table_field {
    width: 90vmin;
    height: 90vmin;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 10%;
    height: 10%;
    background-color: forestgreen;
    font-size: 5vmin;
    text-align: center;
}

.td_putted {
    background-color: gold;
}
